{{define "header"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CoolCPU</title>
	</head>
	<body>
		<h1>CoolCPU</h1>
{{end}}

{{define "footer"}}
	</body>
</html>
{{end}}