{{define "header"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>CoolCPU</title>

		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" href="assets/main.css" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">CoolCPU</a>
			<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button> -->

			<!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
				</ul>
			</div> -->
		</nav>
{{end}}

{{define "cpustate"}}
<div class="cpuState">
	<div class="cpuStateRegisters">
		<span>PC: <code>0x{{ hex .CPU.PC }}</code></span>
		<span>A: <code>0x{{ hex .CPU.A }}</code></span>
		<span>B: <code>0x{{ hex .CPU.B }}</code></span>
		<span>C: <code>0x{{ hex .CPU.C }}</code></span>
	</div>

	<h5>ROM</h5>
	<pre>{{ hexdump .CPU.ROM }}</pre>
</div>
{{end}}

{{define "footer"}}
	</body>
</html>
{{end}}